* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:linear-gradient(#21c08b,#ab88ff);
    font-family: 'Mulish', sans-serif; 
}
html{
    font-size: 62.5%;
}
.header {
    height: 90px;
    width: 100%;
}
.header__img {
    width: 150px;
    margin-left:23px;
    margin-top:13px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* height:calc(100% - 150px); */
}
.login .login__container{
    width:22%;
    min-width: 280px;
    height:500px;
    min-height:360px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding:15px 30px;
    color:white;
    border:2px solid white;
    border-radius:40px;
    background-color: rgba(255,255,255,0.1);
}
.login .login__container h2{
    padding-top:15px;
    align-self:start ;
    font-size: 1.8rem;
    font-weight:600;
    text-align:center;
    letter-spacing:0.5px;
}
.login__container .login__container--form{
    text-align:center;
}
.input{
    border:none;
    background:none;
    width:100%;
    margin: 10px 0;
    padding:10px;
    font-family: 'Mulish', sans-serif; 
    border-bottom:2px solid white;
    outline: none;
    
}
::placeholder{
    color:white;
}
.button{
    width:100%;
    height:35px;
    margin:25px 0;
    font-weight:bold;
    border:none;
    background-color: rgba(255,255,255,0.3);
    border-radius:40px;
    outline:none;
    color:white;
    letter-spacing:1px;
    cursor:pointer;
}
.button:hover{
    box-shadow:  2px 2px 5px #c7c7c7,
             -2px -2px 5px #f9f9f9;
}
.login__container--remember{
    display:flex;
    justify-content:space-between;
    width:100%;
    font-size:1.2rem;
}
.login__container--remember label{
    display:flex;
}
.login__container--remember  span{
    padding-left:5px;
}
.login__container--remember a{
    text-decoration:none;
    color:white;
}
.login__container--remember a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.login__container--remember label span:hover{
    text-decoration:underline;
    cursor:pointer;
}

.login__container--socialmedia div{
    font-size:1.2rem;
    display: flex;
    align-items:center;
    margin:10px;
    
}
.login__container--socialmedia div img{
    width:30px;
    padding-right: 10px;
}
.login__container--socialmedia div a{
    cursor:pointer;}
    
.login__container--socialmedia div a:hover{
    text-decoration:underline;}

.login__container--register{
    text-align: center;
}
.login__container--register a{
    color: white;
    font-weight:bold;
    text-decoration:none;
    font-size:1.2rem;
    
}
.login__container--register {
    font-size:1.2rem;
}
.login__container--register a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.footer{
    display:flex;
    align-items:center;
    height:100px;
    width:100%;
}
.footer a{
    color:white;
    font-size: 1.2rem;
    cursor:pointer;
    text-decoration:none;
    padding-left:30px;
}
.footer a:hover{
    text-decoration:underline;
}
.login__container--register-iniciarSesión{
    
    margin:0 auto;
}
.login__container--register-iniciarSesión a{
    color: white;
    font-weight:bold;
    text-decoration:none;
    font-size:1.4rem;
}
.login__container--register-iniciarSesión a:hover{
    text-decoration:underline;
}
@media only screen and (max-width:425px){
    .login .login__container{
        border:none;
        background-color:transparent;
        padding: 0px 10px 15px;
    }
    .login .login__container h2{
        padding-top: 0px;
    }
    .footer{
        justify-content: center;
        align-items:flex-start;
        flex-direction:column;
        margin:20px 0;
    }
    .footer a{
        margin:5px 0;
    }
}
